In [19]:
import numpy as np
import pandas as pd

In [20]:
tr = pd.read_excel('Trough.xlsx',encoding='ISO-8859-1')

In [21]:
tr.head()

   Width
0  8.312
1  8.343
2  8.317
3  8.383
4  8.348

In [22]:
tr.shape

(49, 1)

In [23]:
tr.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23     True
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32     True
33     True
34    False
35    False
36     True
37    False
38    False
39     True
40    False
41     True
42     True
43    False
44    False
45    False
46     True
47     True
48    False
dtype: bool

In [24]:
tr.duplicated().sum()

10

In [25]:
tr.drop_duplicates(keep='first',inplace=True)

In [26]:
tr.shape

(39, 1)

In [27]:
tr.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
34    False
35    False
37    False
38    False
40    False
43    False
44    False
45    False
48    False
dtype: bool

In [28]:
tr.duplicated().sum()

0